body {
  font-size: 20px;
  background-color: #CFD8D7;
}

a {
  color: #122932;
}

.jumbotron {
  color: #BBD1EA;
  background-color: black;
  text-align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centered img {
  max-width: 500px;
}
