body {
  font-size: 20px;
  background-color: #575033;
  background-image: url("../img/desert.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
  font-size: 28px;
  color: #dd4050;
}

.jumbotron {
  color: #848552;
  background-color: #302917;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

img {
  max-width: 350px;
}

button {
  margin: 10px;

}

#letters-div {
  text-align: center;
  padding: 2%;
}
