body {
  font-size: 20px;
}

.jumbotron {
  text-align: center;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centered img {
  max-width: 500px;
}
